## The Sparks Foundation - Data Science & Business Analytics Internship

### Task 1 - Prediction using Supervised ML

This model uses Linear Regression to predict the percentage of a student based on number of hours studied.

Steps:

1. Defining the question
2. Importing data
3. Analyzing Data
4. Visualizing Data
5. Build and Training Model
6. Making Predictions
7. Evaluating the Model

### Defining the Question

This model focuses on finding the relationship between the efforts of a student with the result s/he achieves. It is pretty straightforward and the goal is to train a model to predict this relationship. The very first step of any data science problem is to figure out a well defined question. In this case, the question is: 

**How much does the number of hours studied influence the percentage of a student?**

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### Importing Data

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

### Analyzing Data

In [6]:
df.shape

(25, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [8]:
# Summary statistics for data 
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [9]:
# Check for nulls
df.isnull().sum()

Hours     0
Scores    0
dtype: int64